
html {
  height: 100%;
}
body {
  padding: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 85% !important;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

a {
  text-decoration: none;
}


h1 span {
  font-size: 26px;
  margin: 0 5px;
  text-transform: capitalize;
  background: rgba(0,0,0,0.85);
  display: inline-block;
  color: #6D461D;
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  padding: 3px 10px;
}

.pointer {
  color: #9b59b6;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 15px;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.main h1 {
  padding:150px 50px;
  float: left;
  width: 100%;
  font-size: 45px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  color: white;
  margin: 0;
}

.main h1.demo1 {
  background: #1ABC9C;
}

.reload.bell {
  font-size: 12px;
  padding: 20px;
  width: 45px;
  text-align: center;
  height: 47px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.reload.bell #notification {
  font-size: 25px;
  line-height: 140%;
}

.reload:hover{
  background: #444;
}
.clear {
  width: auto;
}
.btns {
  width: 410px;
  margin: 50px auto;
}
.credit {
  text-align: center;
  color: rgba(0,0,0,0.5);
  padding: 10px;
  width: 410px;
  clear: both;
}
.credit a {
  color: rgba(0,0,0,0.85);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  font-weight: bold;
  font-size: 13px;
  color: #000;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.back:hover {
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

header {
  position: relative;
  z-index: 10;
}
.main section.page1 .page_container, .main section.page4 .page_container, .main section.page2 .page_container {
  position: relative;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}

.main section.page3 .page_container {
  position: relative;
  margin: 0 auto 0;
  max-width: 100%;
  z-index: 3;
}
.main section  {
  overflow: hidden;
}

.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

.main section.page2 {
  background-color: rgb(33, 5, 70);
}
.main section.page1 h1 {
  text-align: center;
  padding: 10px;
  font-size: 60px;
  letter-spacing: -1px;
  color: rgb(33, 5, 70);
  font-weight: 500;
}
.main section.page1 h1#first {
   margin-top: 200px;
   position: absolute;
}
.main section.page1 h1#second {
   margin-top: 350px;
   position: absolute;
}
/* .main section.page2 h2 {
  color: rgba(41, 26, 76, 0.85);
  text-align: center;
  line-height: 160%;
  font-weight: 100;
}
*/
.main section.page1 img.brandImage {
  width: 220px;
  margin-top: 15px;
  border-radius: 5px;
  padding: 2px;
  float: right !important;
  opacity: 0.5;
}
.main section.page1 img.brandImage:hover {
  transition: 0.5s;
  opacity: 0.9;
}

.main section.page4 img.newBrandImage {
  width: 300px !important;
  margin-top: 15px;
  border-radius: 5px;
  padding: 2px;
  margin: 20px auto;
}
.main section.page4 img.newBrandImage:hover {
  transition: 0.5s !important;
  opacity: 0.6 !important;
}

.viewing-page-2 .back{
  background: rgba(0, 0, 0, 0.25);
  color: #FFF;
  }
.main section.page3 {
  background-color: white;
}

.main section.page3 h1 {
  padding: 0;
  font-size: 120px;
  letter-spacing: -1px;
  color: black;
}

.main section.page3 .row h1 a {
  padding: 10px 20px;
  font-size: 25px;
  letter-spacing: -1px;
  color: rgba(41, 26, 76, 1);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgba(41, 26, 76, 1);
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  position: relative;
}

.main section.page3 h1 a#entenda {
  font-size: 40px;
  letter-spacing: -1px;
  color: rgba(41, 26, 76, 1);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgba(41, 26, 76, 1);
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  padding-top: 15px; 
  padding-bottom: 15px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

#myCanvasChart {
  margin: 5% auto;
  width: 80%;
  height: 50%;
}

#myCanvasChartTwo {
  margin: 5% auto;
  width: 80%;
  height: 50%;
}
#myCanvasChartThree {
  margin: 5% auto;
  width: 80%;
  height: 50%;
}
#myCanvasChart h2 {
  color: rgb(41,26,76) !important;
  margin-bottom: 0.325vw;
  font-size: 2.35vw;
  font-weight: 700;
  text-align: center;
  font-family: 'Dosis', sans-serif !important;
}
 #myCanvasChartTwo h2 {
  color: rgb(41,26,76) !important;
  margin-bottom: 0.325vw;
  font-size: 2.35vw;
  font-weight: 700;
  text-align: center;
  font-family: 'Dosis', sans-serif !important;
 }
  #myCanvasChartThree h2 {
  color: rgb(41,26,76) !important;
  margin-bottom: 0.325vw;
  font-size: 2.35vw;
  font-weight: 700;
  text-align: center;
  font-family: 'Dosis', sans-serif !important;
 }

p i.fa-arrow-circle-left, p i.fa-arrow-circle-right {
  color: white;
  background-color: rgb(41,26,76);
  font-size: 2vw;
  padding: 1vw 2.5vw;
  border-radius: 5px;
  border: 2px solid transparent;
}
p i.fa-arrow-circle-left:hover, p i.fa-arrow-circle-right:hover {
  background-color: white;
  color: rgb(41,26,76); 
  border: 2px solid rgb(41,26,76);
  transition: 0.6s;
}
.main section.page5 #testButtonTwo {
  text-transform: uppercase !important;
  font-size: 1.235em !important;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 5px 20px;  
}
.main section.page5 #testButtonTwo:hover {
  background-color: white !important;
  color: rgb(41,26,76) !important;
  transition: 0.65s;
  border: 2px solid rgb(41,26,76) !important;
}
.main section.page3 h1 a#entenda:hover {
  color: white;
  background-color: rgba(41, 26, 76, 1);
  border: 2px solid white;
}
.main section.page3 h1 a:hover { 
  color: white;
  background-color: rgba(41, 26, 76, 1);
  border: 2px solid white;
  transition: 0.5s;
}

.main section.page3 .page_container #exemplos {
  margin-top: -50px;
}


.fa-video-camera, .fa-wifi, .fa-desktop {
  margin-top: 45px;
  margin-bottom: 45px;
  color: rgb(152,152,152);
}

#cameraText, #desktopText, #wifiText, #one, #two, #three, #four {
  /* line-height: 140%; */
  color: rgba(41, 26, 76, 1);
}
#one, #two, #three, #four {
  margin-top: -5px;
}

.main section.page4 {
  background-color: rgb(33, 3, 71); 
}

.main section.page4 h1 {
  padding: 0 !important;
  margin: 5% auto;

}

.main section.page4 .page_container form {
  color: white;
  margin: 5% auto;
}

.main section.page4 .page_container input {
  margin-bottom: 5px;
}
.main section.page4 .page_container label { 
  font-size: 16px;
}

.main section.page4 .page_container form input.btn {
  color: white;
  margin-top: 15px;
  border: 2px solid white;
  background-color: rgb(41, 26, 76);
  font-weight: 900;
  font-size: 15px;
}

.main section.page4 .page_container form input[type="text"], .main section.page4 .page_container form input[type="email"], .main section.page4 .page_container form textarea {
  font-size: 16px;
  color: rgb(41,26,76);
  font-weight: 900;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  font-family: sans-serif !important;
}

.main section.page4 .page_container input:focus, .main section.page4 .page_container textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.main section.page4 .page_container form .btn:hover {
  transition: 0.5s;
  background-color: white;
  border: 2px solid rgb(41, 26, 76);
  color: rgb(41, 26, 76); 
  opacity: 0.9;
}

.data .container .row .col-md-4 h3.subtext {
  line-height: 140%;
  color: rgba(41, 26, 76, 1); 
  margin-top: 25px;
}

#dropdownImage {
  cursor: pointer;
  margin-top: 30px;
}

#dropdownImage:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.dropdown {
  display: inline;
}

.dropdown-menu {
  border-radius:0px; 
  box-shadow:none; 
  border:none;
  min-width: 100px;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  margin-top: 55px;
  margin-left: -25px;
}

.dropdown-menu li a {
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
}

body.disabled-onepage-scroll .onepage-wrapper  section {
  min-height: 100%;
  height: auto;
}

body.disabled-onepage-scroll .main section .page_container {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.disabled-onepage-scroll  section .page_container h1{
  text-align: center;
  font-size: 50px;
}
body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
  text-align: center;
  width: 100%;
}

body.disabled-onepage-scroll .main section.page1 > img {
  position: absolute;
  width: 80%;
  left: 10%;
}

body.disabled-onepage-scroll .main section > img {
  position: relative;
  max-width: 80%;
  bottom: 0;
}


body.disabled-onepage-scroll .main section.page3 .page_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background: url('../img/imagevideo.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#circle {
  font-size: 30px;
  margin-right: 5px;
  margin-bottom: 3px;
}

#circle {
  animation: blinker 1.2s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

@media (max-width: 780px) {
  #cameraText, #desktopText, #wifiText, #one, #two, #three, #four {
    font-size: 20px;
  }
  .main section.page1 h1 {
    font-size: 50px;
  }
}

@media (max-width: 770px) {
  #myCanvasChart h2, #myCanvasChartTwo h2, #myCanvasChartThree h2 {
    font-size: 1vw;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .main section.page3 h1 a#entenda {
    font-size: 30px;
  }
  .main section.page3 .page_container #exemplos {
    margin-top: 10px;
  }
  .main section.page1 h1 {
    font-size: 40px !important;
  }
}

@media (max-width: 430px) {
  .main section.page3 h1 a#entenda {
    font-size: 25px;
  }
  .main section.page1 h1 {
    font-size: 30px !important;
  }
  .main section.page1 img.brandImage {
    width: 110px;
  }
}




