
html {
  height: 100%;
}
body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

.container {
  width: 85%;
  text-align: center !important;
  position: relative;
  padding: 0 !important;
}

/* video style */
video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background: url('../img/imagevideo.png') no-repeat center center;
    background-size: cover;
    transition: 1s opacity;
}

/* dropdown menu */
#dropdownImage {
  cursor: pointer;
  margin-top: 30px;
}

#dropdownImage:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.dropdown {
  display: inline;
}

.dropdown-menu {
  border-radius:0px; 
  box-shadow:none; 
  border:none;
  min-width: 100px;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  margin-top: 55px;
  margin-left: -25px;
  z-index: 100;
}

.dropdown-menu li a {
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
}

/*  brand image ~> header */
.main section.page1 img.brandImage {
  width: 220px;
  margin-top: 15px;
  border-radius: 5px;
  padding: 2px;
  float: right !important;
  opacity: 0.5;
}
.main section.page1 img.brandImage:hover {
  transition: 0.5s;
  opacity: 0.9;
}

/*  page1 ~> h1 */
.main section.page1 h1 {
  font-size: 60px;
  letter-spacing: -1px;
  color: rgb(33, 5, 70);
  font-weight: 500;
}

.main section.page1 h1#first {
  text-align: center !important;
  position: relative;
  margin: 150px auto;
}
.main section.page1 h1#second {
   text-align: center !important;
}
/* end: page1 h1*/

a {
  text-decoration: none;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.clear {
  width: auto;
}


header {
  position: relative;
  z-index: 10;
}
.main section.page1 .page_container {
  position: relative;
  max-width: 950px;
  z-index: 3;
  margin: 0 auto !important;
}
.main section  {
  overflow: hidden;
}

.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}

/* page2 */
.main section.page2 .page_container, .main section.page3 .page_container {
  /*  container-fluid */
  position: relative;
  margin: 0 auto !important;
  z-index: 3;
}
.main section.page2 {
  background-color: white;
}
.main section.page2 .row h1 a {
  padding: 10px 20px;
  font-size: 25px;
  letter-spacing: -1px;
  color: rgba(41, 26, 76, 1);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgba(41, 26, 76, 1);
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  position: relative;
}
.main section.page2 h1 a#entenda {
  font-size: 40px;
  letter-spacing: -1px;
  color: rgba(41, 26, 76, 1);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgba(41, 26, 76, 1);
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  padding-top: 15px; 
  padding-bottom: 15px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}
.main section.page2 h1 a#entenda:hover, .main section.page2 .row h1 a:hover {
  color: white;
  background-color: rgba(41, 26, 76, 1);
  border: 2px solid white;
  transition: 0.5s;
}
i.fa-video-camera, i.fa-wifi, i.fa-desktop {
  margin-top: 45px;
  margin-bottom: 45px;
  color: rgb(152,152,152);
  font-size: 120px;
}
#cameraText, #desktopText, #wifiText {
  color: rgba(41, 26, 76, 1);
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 35px;
}
#one, #two, #three, #four {
  color: rgba(41, 26, 76, 1);
  margin-top: 4px !important;
  margin-bottom: 0 !important;
  font-size: 30px;
}

/*  end: page2 */

/*  page 3*/

.main section.page3 .testButtonTwo {
  text-transform: uppercase;
  font-size: 1.235em !important;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 5px 20px;  
  margin-top: 20px;
  opacity: 1 !important;
  color: white;
  background-color: rgb(41,26,76);
}
.main section.page3 .testButtonTwo:hover {
  background-color: white;
  color: rgb(41,26,76);
  transition: 0.65s;
  border: 2px solid rgb(41,26,76);
}

#myImg, #myImgTwo, #myImgThree {
  display: none;
}
.main section.page3 {
  background-color: white;
  color: white;
}
.main section.page3 .page_container {
  overflow: hidden;
}
.main section.page3 h1 {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  font-size: 40px;
  letter-spacing: -1px;
}
.main section.page3 h3 {
  padding: 7px 4px;
  margin: 0 auto 10px;
  font-weight: 600;
  font-size: 20px;
}

#myCanvasChart, #myCanvasChartTwo, #myCanvasChartThree {
  margin: 3% auto;
  width: 90%;
}
.main section.page3 p i {
  font-size: 30px;
  padding: 3px 10px;
  background-color: white;
  border: 2px solid transparent;
  color: rgb(41,26,76);
  border-radius: 5px;
  margin-top: 10px;
}
.main section.page3 p i:hover {
  transition: 1s;
  background-color: rgb(41,26,76);
  border: 2px solid white;
  color: white;
  cursor: pointer;
}
/*  end: page 3*/


/*  page 4*/
.main section.page4 {
  background-color: rgb(33, 3, 71); 
}

.main section.page4 h1 {
  padding: 0 !important;
  margin: 5% auto;
  color: white;
}

.main section.page4 .page_container form {
  color: white;
  margin: 5% auto;
}

.main section.page4 .page_container input {
  margin-bottom: 5px;
}
.main section.page4 .page_container label { 
  font-size: 16px;
}

.main section.page4 .page_container form input.btn {
  color: white;
  margin-top: 15px;
  border: 2px solid white;
  background-color: rgb(41, 26, 76);
  font-weight: 900;
  font-size: 15px;
}

.main section.page4 .page_container form input[type="text"], .main section.page4 .page_container form input[type="email"], .main section.page4 .page_container form textarea {
  font-size: 16px;
  color: rgb(41,26,76);
  font-weight: 900;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  font-family: sans-serif !important;
}

.main section.page4 .page_container input:focus, .main section.page4 .page_container textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.main section.page4 .page_container form .btn:hover {
  transition: 0.5s;
  background-color: white;
  border: 2px solid rgb(41, 26, 76);
  color: rgb(41, 26, 76); 
  opacity: 0.9;
}
.main section.page4 img.newBrandImage {
  width: 300px !important;
  margin-top: 15px;
  border-radius: 5px;
  padding: 2px;
  margin: 20px auto;
}
.main section.page4 img.newBrandImage:hover {
  transition: 0.5s !important;
  opacity: 0.6 !important;
}

/*  end: page 4*/

body.disabled-onepage-scroll .onepage-wrapper  section {
  min-height: 100%;
  height: auto;
}
body.disabled-onepage-scroll .onepage-wrapper  section.page3 {
  min-height: auto !important;
  height: auto;
}

body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.disabled-onepage-scroll  section .page_container h1{
  text-align: center;
}

body.disabled-onepage-scroll .main section.page1 > img {
  position: absolute;
  width: 80%;
  left: 10%;
}

body.disabled-onepage-scroll .main section > img {
  position: relative;
  max-width: 80%;
  bottom: 0;
}

body.disabled-onepage-scroll .main section.page3 .page_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}


/* responsive features */
@media (max-width: 2560px) {
  .main section.page1 h1 {
    font-size: 80px; 
  }
  .main section.page1 h1#first {
    margin: 250px auto 180px auto;
  }
  #cameraText, #desktopText, #wifiText {
    color: rgba(41, 26, 76, 1);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 55px;
  }
  #one, #two, #three, #four {
    color: rgba(41, 26, 76, 1);
    margin-top: 5px !important; 
    margin-bottom: 5px !important;
    font-size: 45px;
  }
  i.fa-video-camera, i.fa-wifi, i.fa-desktop {
    margin-top: 45px;
    margin-bottom: 45px;
    color: rgb(152,152,152);
    font-size: 200px;
  }
  #myChart, #myChartTwo, #myChartThree {
    height: auto !important;
    margin-top: -60px;
  }
}

@media (max-width: 1440px) {
  .main section.page1 h1 {
    font-size: 60px; 
  }
  .main section.page1 h1#first {
    margin: 180px auto 130px auto;
  }
  #cameraText, #desktopText, #wifiText {
    color: rgba(41, 26, 76, 1);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 35px;
  }
  #one, #two, #three, #four {
    color: rgba(41, 26, 76, 1);
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 30px;
  }
  i.fa-video-camera, i.fa-wifi, i.fa-desktop {
    font-size: 150px;
  }
  #myChart, #myChartTwo, #myChartThree {
    margin-top: -30px;
    height: 410px !important;
  }
}

@media (max-width: 1024px) {
  .main section.page1 h1 {
    font-size: 50px; 
  }
  .main section.page1 h1#first {
    margin: 150px auto 100px auto;
  }
  i.fa-video-camera, i.fa-wifi, i.fa-desktop {
    margin-top: 35px;
    margin-bottom: 25px;
    color: rgb(152,152,152);
    font-size: 120px; 
  }
  #cameraText, #desktopText, #wifiText {
    color: rgba(41, 26, 76, 1);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 25px;
  }
  #one, #two, #three, #four {
    color: rgba(41, 26, 76, 1);
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .main section.page1 h1 {
    font-size: 45px; 
  }
  .main section.page1 h1#first {
    margin: 140px auto 90px auto;
  }
  #cameraText, #desktopText, #wifiText {
    color: rgba(41, 26, 76, 1);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 25px;
  }
  #one, #two, #three, #four {
    color: rgba(41, 26, 76, 1);
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 20px;
  }
  i.fa-video-camera, i.fa-wifi, i.fa-desktop {
    font-size: 90px;
  }
}

@media(max-width: 700px) {
  #myChart, #myChartTwo, #myChartThree {
    height: 300px !important;
  }
}

@media(max-width: 640px) {
  #myChart, #myChartTwo, #myChartThree {
    display: none !important;
  }
  #myImg, #myImgTwo, #myImgThree {
    display: inline;
  }
}

@media(max-width: 600px) {
  i.fa-video-camera, i.fa-wifi, i.fa-desktop {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  #desktopText {
    margin-bottom: 70px !important;
  }
  .testButtonTwo {
    display: none;
  }
}

@media (max-width: 525px) {
  .main section.page1 h1 {
    font-size: 40px; 
  }
  .main section.page1 h1#first {
    margin: 140px auto 90px auto;
  }
}

@media (max-width: 375px) {
  .main section.page1 h1 {
    font-size: 35px; 
  }
  .main section.page1 h1#first {
    margin: 140px auto 80px auto;
  }
}

@media(max-width: 340px) {
  .main section.page1 img.brandImage {
    width: 170px;
  }
}

@media(max-width: 320) {
  .main section.page1 h1 {
    font-size: 30px; 
  }
  .main section.page1 h1#first {
    margin: 140px auto 80px auto;
  }
}